<div class="header-show" style="background-image: url(<%= @spot.images.attached? ? cl_image_path(@spot.images.first.key,
                           crop: :fill,
                           dpr: 2.0,
                           quality: "auto:best",
                           gravity: :face,
                           fetch_format: :auto) : asset_path("IMG_4667.webp") %>);height: 80vh">
  <div class="title-show">
    <h1><%= @spot.name %></h1>
  </div>
    <i class="fi fi-ts-marker icon-header"></i>

</div>

<div class="container">
  <h1><%= @spot.name %></h1>
  <p>
    <%= @spot.description %>
    <br>
    <%= @spot.address %>
    <br>
    Location : <%= @location.name %>
  </p>

  <h2>Reviews</h2>
  <ul>
    <% @spot.review_spots.each do |review| %>
      <li>
        <%= review.rating %>
        <br>
        <%= review.description %>
      </li>
    <% end %>
  </ul>

  <h2>Add a review</h2>
  <%= link_to 'Add review', new_spot_review_spot_path(@spot.id) %>
</div>
