<div class='container'>
  <h1 style='margin-top: 60px;'>Kite in Mauritius: Blog</h1>

  <%= link_to 'Add a blog page', new_blog_page_path, class: "btn btn-primary my-3" %>
  <div class="col-md-8 mx-auto mt-5">
    <% @blog_pages.each do |blog_page| %>
      <div class="categories-card">
        <div class="image-card"
             style="background-image: url('<%= blog_page.blog_picture.attached? ? cl_image_path(blog_page.blog_picture.key,
                             crop: :fill,
                             dpr: 2.0,
                             height: 400,
                             quality: "auto:best",
                             gravity: :face,
                             fetch_format: :auto) : asset_path("IMG_4667.webp") %>');
                    height: 400px;">
        </div>
        <div class="d-flex mt-3 ps-3">
          <div>
            <h2 class="mt-3 fs-4 fw-1"><%= blog_page.title %></h2>
            <p class="fs-6">By <%= blog_page.user.first_name %> <%= blog_page.user.last_name %></p>
          </div>
          <%= link_to blog_page_path(blog_page.id), class: 'ms-auto' do %>
            <i class="fi fi-rs-arrow-up-right card-arrow"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </p>

</div>
