<div class='container d-flex flex-column container-100vh'>
  <div class="my-3 d-flex flex-column align-items-center justify-content-center flex-grow-1">
    <h1>Create your account</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="devise-input-form">
        <%= f.input :email,
                    required: true,
                    label: false,
                    placeholder: "example@email.com",
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :first_name,
                    required: true,
                    label: false,
                    placeholder: "First name",
                    input_html: { autocomplete: "first name" }%>
        <%= f.input :last_name,
                    required: true,
                    label: false,
                    placeholder: "Last name",
                    input_html: { autocomplete: "last name" }%>
        <%# f.input :address,
                    required: true,
                    label: false,
                    placeholder: "Address",
                    input_html: { autocomplete: "address" }%>
                    <br>
        <%= f.input :password,
                    required: true,
                    label: false,
                    placeholder: ("Password #{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    placeholder: "Confirm your password",
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn bg-devise-light', style: 'font-size: 18px;' %>
      </div>
    <% end %>
  </div>

  <div class="mt-auto" style='padding-bottom: 4vh;'>
    <%= render "devise/shared/links" %>
  </div>

</div>
