<div id="navbar-burger-id" class="navbar-fullscreen d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex flex-column" style="padding-bottom: 16vh;">
    <%= link_to 'Home', '/', class:'navbar-burger-item link link-underline'  %>
    <%= link_to 'My profile', edit_image_and_bio_path, class: 'navbar-burger-item link link-underline' %>
    <%= link_to 'Blog', blog_pages_path, class: 'navbar-burger-item link link-underline' %>
  </div>

</div>


<div class="navbar-container">

  <%# bouton du menu %>
  <div class="d-flex">
    <div data-categories-filter-target="burger" id="navbar-btn" class="menu-wrapper" style="margin-right: 8px;">
      <div class="hamburger-bg"></div>
      <div class="hamburger-menu"></div>
    </div>
    <div>
      <%= link_to root_path do %>
        <%= image_tag asset_path('logo.png'), class: 'navbar-logo' %>
      <% end %>
    </div>
  </div>

  <div class="d-flex align-items-center ms-auto">
    <form data-action="categories-filter#submit">
      <input id="search-form" type="text" data-categories-filter-target="input" placeholder="Search..." class="input-search-form d-none" />
    </form>
      <div id="show-search" data-action="click->categories-filter#showSearch" class="navbar-search">
        <button type="submit" class="unstyled-button">
          <i class="fi fi-rs-search"></i>
        </button>
      </div>
      <div id="search" data-action="click->categories-filter#submit" class="navbar-search d-none">
        <button type="submit" class="unstyled-button">
          <i class="fi fi-rs-search"></i>
        </button>
      </div>
    <div id="close-search" data-action="click->categories-filter#removeSearch" class="navbar-search cross d-none">
      <i class="fi fi-rs-cross-small"></i>
    </div>
  </div>


  <%# bouton se connecter || bonjour user %>
 <div data-categories-filter-target="profile" class="navbar-user">
    <% if user_signed_in? %>
        <%= link_to edit_image_and_bio_path do %>
          <p class='navbar-btn'>
            <span class='link link-underline'>Hi <%= current_user.first_name %></span>
            <span class='navbar-subtitle'>Have a good ride !</span>
          </p>
        <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
          <p class='navbar-btn'>
            <span class='link link-underline'>Sign in</span>
            <span class='navbar-subtitle'>Kite in mauritius</span>
          </p>
        <% end %>
    <% end %>
  </div>

</div>

<%= javascript_include_tag 'navbar' %>
