<div id="navbar-burger-id" class="navbar-fullscreen d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex flex-column" style="padding-bottom: 16vh;">
    <%= link_to 'Home', '/', class:'navbar-burger-item link link-underline'  %>
    <%= link_to 'My profile', edit_image_and_bio_path, class: 'navbar-burger-item link link-underline' %>
    <%= link_to 'Blog', blog_pages_path, class: 'navbar-burger-item link link-underline' %>
  </div>

</div>


<div class="navbar-container">

  <%# bouton du menu %>
  <div id="navbar-btn" class="menu-wrapper absolute">
    <div class="hamburger-bg"></div>
    <div class="hamburger-menu"></div>
  </div>


  <%# Rechcher logo %>
  <div class="navbar-search">
    <%= link_to root_path do %>
      <i class="fi fi-rr-search"></i>
    <% end %>
  </div>

  <%# bouton se connecter || bonjour user %>
 <div class="navbar-user">
    <% if user_signed_in? %>
        <%= link_to edit_image_and_bio_path do %>
          <p class='navbar-btn'>
            <span class='link link-underline'>Hi <%= current_user.first_name %></span>
            <span class='navbar-subtitle'>Have a good ride !</span>
          </p>
        <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
          <p class='navbar-btn'>
            <span class='link link-underline'>Sign in</span>
            <span class='navbar-subtitle'>Kite in mauritius</span>
          </p>
        <% end %>
    <% end %>
  </div>

</div>

<%= javascript_include_tag 'navbar' %>
