<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container px-5">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">

        <% if user_signed_in? %>
          <li class="nav-item me-3 dropdown nav-link-kite">
            <%= link_to '#', id: 'navbarDropdown', class: 'nav-link', data: { bs_toggle: 'dropdown', bs_auto_close: 'outside' }, aria: { haspopup: 'true', expanded: 'false' } do %>
              <% if current_user.profile_picture.present? %>
                <%= cl_image_tag current_user.profile_picture.key, id: 'navbar-profile-image', class: 'rounded-circle', width: 40, height: 40, crop: :fill, dpr: 2.0, quality: "auto:good", gravity: :face %>
              <% else %>
                <i class="fa-solid fa-user-ninja"></i>
              <% end %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" style="background-color: white;" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %>
              <% end %>
              <%# link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item me-3">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link nav-link-kite" %>
          </li>
          <li class="nav-item me-3">
            <%= link_to "Login", new_user_session_path, class: "nav-link nav-link-kite" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
