<div data-categories-filter-target="cards">
  <% @cards.each do |card| %>
    <div class="card" data-category="<%= card.class.name.downcase %>">

      <p><%= card.class.name %></p>
      <h3><%= card.name %></h3>
      <p><%= card.description %></p>
      <p><%= card.location.name %></p>
      <% case card.class.name %>
      <% when "School" %>
        <div class="d-flex"><%= link_to "Show", school_path(card.id), class:'btn btn-primary' %></div>
      <% when "Shop" %>
        <div class="d-flex"><%= link_to "Show", shop_path(card.id), class:'btn btn-primary' %></div>
      <% when "Spot" %>
        <div class="d-flex"><%= link_to "Show", spot_path(card.id), class:'btn btn-primary' %></div>
      <% end %>

    </div>
  <% end %>
</div>
