<div class="d-flex justify-content-end align-items-center mt-3" data-bs-toggle="modal" data-bs-target="#addImageModal">
  <%= link_to 'javascript:void(0);', class: "link link-underline" do %>
    <div class="d-flex justify-content-end align-items-center">
      <p class="mb-0">Add a picture</p>
      <p class="mb-0 mt-2">
        <i class="fi fi-rs-add text-primary ms-2 fs-4"></i>
      </p>
    </div>
  <% end %>
</div>

<div class="modal fade" id="addImageModal" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="addImageModalLabel">Add your best picture for <%= @school.name %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @school, html: { multipart: true } do |f| %>
          <div class="d-flex justify-content-center">
            <%= f.file_field :images, multiple: true, direct_upload: true, class: "form-control" %>
            <%= f.submit "Upload", class: "btn btn-primary", style: "border-radius: 0px;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
