<div class="container">
  <div class="content-show">

    <!-- Button to trigger modal -->
    <% if user_signed_in? %>
      <div data-bs-toggle="modal" data-bs-target="#reviewschoolModal">
        <p class="mt-5 mb-3 text-end">
          <%= link_to 'Add a review', 'javascript:void(0);', class: 'link link-underline' %>
        </p>
      </div>
    <% else %>
      <p>* If you want to leave a comment, please <%= link_to 'sign in', new_user_session_path, class: "btn btn-warning" %></p>
    <% end %>

<div class="modal fade" id="reviewschoolModal" tabindex="-1" aria-labelledby="reviewschoolModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewschoolModalLabel">New Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@school, @review_school], url: school_review_schools_path(@school), method: :post, html: { class: 'form-horizontal' } do |f| %>
          

          <div class="mb-3">
            <%= f.input :rating, as: :select, collection: 1..5, prompt: 'Select a rating', input_html: { class: 'form-control', required: true }, label_html: { class: 'form-label' } %>
          </div>
          <div class="mb-3">
            <%= f.input :description, as: :text, input_html: { rows: 3, class: 'form-control', required: true }, label_html: { class: 'form-label' } %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">Close</button>
            <%= f.button :submit, 'Submit Review', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


    <div data-controller="load-more" data-load-more-review_school="<%= @review_school %>">
      <div data-load-more-target="review">
          <% @school.review_schools.each do |review| %>
            <div class="review-card">
              <div class="d-flex align-items-center">
  <p>
    <% if review.user.present? %>
      <%= cl_image_tag(review.user.profile_picture,
                        class: 'me-2 img_fluid rounded-circle',
                        alt: "#{review.user.first_name}'s avatar from kite in mauritius",
                        width: 40,
                        height: 40,
                        crop: :fill,
                        dpr: 2.0,
                        quality: "auto:best",
                        gravity: :face,
                        fetch_format: :auto,
                        effect: "sharpen:50",
                        radius: "max") %>
                  <% else %>
                    <%= image_tag 'default_avatar.png', class: 'me-2 img_fluid rounded-circle', width: 40, height: 40 %> <!-- Utilise une image par défaut -->
                  <% end %>
                </p>
                <p class="review-user">
                  <% if review.user.present? %>
                    <%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize.first %>
                  <% else %>
                    Anonymous <!-- Afficher 'Anonymous' si l'utilisateur est absent -->
                  <% end %>
                </p>
                <p class="text-primary ms-auto"><%= review.rating %>/5</p>
              </div>
              <p class="review-description"><%= review.description %></p>
              <small>
                <%= review.created_at&.strftime('%d %b %Y') || 'Date not available' %>
              </small>

            </div>
          <% end %>

          <%= tag.div "", id: "more_reviews_exist", data: { more: @more_reviews_exist } %>
      </div>

      <div class="d-flex mx-auto mt-5">
        <div data-action="click->load-more#loadMore" class="btn-load-more">
          <%= link_to 'Load More', '#', class: 'link link-underline' %>
        </div>
      </div>
    </div>

  </div>
</div>
