<h1><%= @school.name %></h1>

<div class="school-details">
  <p><strong>Adresse :</strong> <%= @school.address %></p>
  <p><strong>Téléphone :</strong> <%= @school.phone %></p>
  <p><strong>Site web :</strong> <%= link_to @school.website, @school.website, target: "_blank" %></p>
  <p><strong>Email :</strong> <%= mail_to @school.email %></p>
</div>

<%= link_to 'Ajouter un avis', new_school_review_path(@school), class: 'btn btn-primary' %>

