<h1><%= @school.name %></h1>

<div class="school-details">
  <p><strong>Adresse :</strong> <%= @school.address %></p>
  <p><strong>Téléphone :</strong> <%= @school.phone %></p>
  <p><strong>Site web :</strong> <%= link_to @school.website, @school.website, target: "_blank" %></p>
  <p><strong>Email :</strong> <%= mail_to @school.email %></p>
</div>


<h2>Reviews</h2>
<% if @school.review_school.any? %>
  <ul>
    <% @school.review_school.each do |review| %>
      <li>
        <p><%= review.rating %> / 5</p>
        <p><%= review.description %></p>
      </li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for [@school, @review_school] do |f| %>
  <%= f.input :rating %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>


<%= link_to 'Add review', new_school_review_path(@school), class: 'btn btn-primary' %>
