<div class="overlay">
  <div class="title-show-for-overlay">
    <h3><%= @school.name %></h3>
  </div>
</div>

<div class="header-show" style="background-image: url(<%= @school.images.attached? ? cl_image_path(@school.images.first.key,
                           crop: :fill,
                           dpr: 2.0,
                           quality: "auto:best",
                           gravity: :face,
                           fetch_format: :auto) : asset_path("IMG_4667.webp") %>);height: 80vh">
  <div class="title-show">
    <h1><%= @school.name %></h1>
  </div>
</div>


<div style=' margin-top: calc(-43px - 5vw);'>
  <div class="custom-shape">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 915.4 120" preserveAspectRatio="none">
        <path class="cls-2" d="M915.4,119V46.8c-164.7,68.9-279.3,59.8-354.4,37.8C460.2,55,426.4.9,326.5,7.3c-62.5,4-93.4,20.5-211.2,46.9C60.9,66.4,33.2,86.9,0,66.5v52.5h915.4Z"/>
        <path class="cls-3" d="M489.1,46.3c-90.6,0-206.6,25.6-247.6,33.4C184.7,90.5,103.2,101,0,97.5v21.4h915.4v-51.5c-42.8,7.2-107.5,19.2-190.6,15.1-134.7-6.6-122.8-36.4-235.7-36.3Z"/>
        <path class="cls-1" d="M0,4.6v115.4s915.4,0,915.4,0c0-24.4,0,8.2,0-16.2-101,22.7-217.2,17.4-408.2-30.6S142.9,0,0,4.6Z"/>
    </svg>
  </div>

  <div class="pb-5" style="background-color: #fff;">
    <div class="container">
      <div class="content-show">
        <p class="mb-1 fs-5"><%= @school.class.name %></p>
        <h1><%= @school.name %></h1>
        <div class="d-lg-flex align-items-end justify-content-between">

          <a href="#reviews" class='link link-underline'>
            <%= @average_rating %>/5 (<%= @total_review_schools %> reviews)
          </a>

          <p style="margin-bottom: 0px !important;"><i class="fi fi-rs-marker"></i> <%= @school.location.name %></p>
        </div>

         <div class="d-flex justify-content-end mt-5">
           <% if @school.user == current_user %>
              <div class="d-flex">
                <%= render 'edit_schools' %>
                <div class="ms-3">
                  <%= render 'destroy' %>
                </div>
              </div>
            <% end %>
         </div>

        <%# icons %>

        <div class="d-flex justify-content-center mt-5">
          <%= link_to "tel:#{@school.phone}", target: '_blank', class: 'text-center mx-4 mx-md-5 ' do %>
            <div style="transform: scaleX(-1); display: inline-block;">
              <i class="fi fi-rs-phone-flip text-primary" style="font-size: calc(2rem + .5vw);"></i>
            </div>
            <p class="text-dark link link-underline" style="margin-top: -10px;">Phone</p>
          <% end %>

          <%= link_to "mailto:#{@school.email}", target: '_blank', class: 'text-center mx-4 mx-md-5 ' do %>
            <i class="fi fi-rs-comment text-primary" style="font-size: calc(2rem + .5vw);"></i>
            <p class="text-dark link link-underline" style=" margin-top: -10px;">Message</p>
          <% end %>

          <%= link_to "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(@school.address || 'Le Morne kite lagoon, mauritius')}", target: '_blank', class: 'text-center mx-4 mx-md-5 ' do %>
            <div style="transform: scaleX(-1); display: inline-block;">
              <i class="fi fi-rs-diamond-turn-right text-primary" style="font-size: calc(2rem + .5vw);"></i>
            </div>
            <p class="text-dark link link-underline" style=" margin-top: -10px;">Go to</p>
          <% end %>
        </div>


        <%# content %>

        <div class="d-flex justify-content-center my-4">
          <div class="col-md-8 bg-primary rounded-5 px-3 px-md-5 py-4 mt-3">

            <div class="d-flex align-items-center justify-content-center">
              <% if @school.user&.profile_picture&.attached? %>
                <%= cl_image_tag(@school.user.profile_picture.key,
                                class: 'me-2 img_fluid rounded-circle',
                                alt: "#{@school.user.first_name}'s avatar from kite in Mauritius",
                                width: 85,
                                height: 85,
                                crop: :fill,
                                dpr: 2.0,
                                quality: "auto:best",
                                gravity: :face,
                                fetch_format: :auto,
                                effect: "sharpen:50",
                                radius: "max")
                %>
              <% else %>
                <img src="<%= asset_path('avatar.png') %>" class="img-fluid rounded-circle mt-4" alt="Avatar" style="width: 150px; height: 150px; margin-left: 70px; object-fit: cover;">
              <% end %>

              <div class="ms-2">
                <h3 class="fs-5" style="margin-bottom: 0px;"><%= "#{@school.user.first_name} #{@school.user.last_name}" %></h3>
                <p style="margin-bottom: 0px;">Kite monitor</p>
              </div>
            </div>

            <div class="mt-3">
              <p class="card-text text-center mb-3">
                <%= @school.user.bio.present? ? @school.user.bio : "No bio available for #{@school.user.first_name} #{@school.user.last_name}." %>
              </p>
            </div>

          </div>
        </div>


        <div class="my-4 pt-3">
          <h2 class="fs-4 mt-3">Description</h2>
          <p><%= @school.description %></p>

          <h2 class="fs-4">Level</h2>
          <p><%= @school.levels %></p>

          <h2 class="fs-4">Rental</h2>
          <p><%= @school.rental %></p>
        </div>

      </div>
    </div>

    <%# carousel image %>

    <div data-controller="images-show" data-images-show-target="imageContainer" class="images-show">
      <% count = 0 %>
      <% @school.images.each do |image| %>
        <div data-action= "click->images-show#overviewImage">
          <%= cl_image_tag(image.key,
                      crop: :fill,
                      height: 300,
                      quality: "auto:good",
                      fetch_format: :auto,
                      data: (count == 1 ? { images_show_target: "secondImage" } : {})) %>
          <% count += 1 %>
        </div>
      <% end %>
    </div>

    <div class="container">
      <div class="content-show">
        <!-- Button trigger modal -->
        <div class="d-flex justify-content-end align-items-center mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <%= link_to 'javascript:void(0);', class: "link link-underline" do %>
            <div class="d-flex justify-content-end align-items-center mb-2">
              <p class="mb-0">Add a picture</p>
              <p class="mb-0 mt-2">
                <i class="fi fi-rs-add text-primary ms-2 fs-4"></i>
              </p>
            </div>
          <% end %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Add your best picture for <%= @school.name %></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <div class="modal-content py-4 px-5" style= "border: none;">

                  <%= simple_form_for @school, html: { multipart: true } do |f| %>
                  <div class="d-flex justify-content-center">
                    <%= f.file_field :images, multiple: true, direct_upload: true, class: "form-control" %>
                    <%= f.submit "Upload", class: "btn btn-primary", style: "border-radius: 0px;" %>
                  </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>

        <%# social media icons %>

        <div class="d-flex justify-content-end mt-5">
          <p class="position-relative">
            <%= link_to "https://#{@school.website}", target: '_blank', class: 'text-center' do %>
              <i class="fi fi-rs-site-alt text-primary icons-show" style= "left: -150px;"></i>
            <% end %>
          </p>

          <p class="position-relative">
            <%= link_to "https://#{@school.instagram}", target: '_blank', class: 'text-center' do %>
              <i class="fi fi-brands-instagram text-primary icons-show" style= "left: -90px;"></i>
            <% end %>
          </p>

          <p class="position-relative">
            <%= link_to "https://#{@school.facebook}", target: '_blank', class: 'text-center' do %>
              <i class="fi fi-brands-facebook text-primary icons-show" style= "left: -30px;"></i>
            <% end %>
          </p>
        </div>

      </div>
    </div>
  </div>

  <%# Reviews %>

<div class="container">
  <div class="content-show">
  <!-- Button to trigger modal -->

   <% if user_signed_in? %>
    <div data-bs-toggle="modal" data-bs-target="#reviewSchoolModal">
      <p class="mt-5 mb-3 text-end">
        <%= link_to 'Add a review', 'javascript:void(0);', class: 'link link-underline' %>
      </p>
    </div>
  <% else %>
    <p class="mt-5 mb-4">* If you want to leave a comment, please <%= link_to 'sign in', new_user_session_path, class: "link link-underline" %></p>
  <% end %>

    <!-- Modal -->
    <div class="modal fade" id="reviewSchoolModal" tabindex="-1" aria-labelledby="reviewSchoolModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reviewSchoolModalLabel">New Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@school, @review_school], url: school_review_schools_path(@school), method: :post, html: { class: 'form-horizontal' } do |f| %>
              <div class="mb-3">
                <%= f.label :rating, "Rate (1 to 5)" %>
                <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]), {}, class: "form-control" %>
                <%= f.input :description, as: :text, input_html: { rows: 3, class: 'form-control', required: true }, label_html: { class: 'form-label' } %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">Close</button>
                <%= f.button :submit, 'Submit Review', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  <%# Reviews %>

    <div data-controller="load-more-school-review" data-load-more-school-review-school-id-value="<%= @school.id %>">

      <div id="reviews" data-load-more-school-review-target="reviews">
        <% @review_schools.each do |review| %>
          <div class="review-card">
            <div class="d-flex align-items-center">
              <p>
                <%= cl_image_tag(review.user.profile_picture.key,
                                class: 'me-2 img_fluid rounded-circle',
                                alt: "#{review.user.first_name}'s avatar from school reviews",
                                width: 40,
                                height: 40,
                                crop: :fill,
                                dpr: 2.0,
                                quality: "auto:best",
                                gravity: :face,
                                fetch_format: :auto,
                                effect: "sharpen:50",
                                radius: "max") %>
              </p>
              <p class="review-user">
                <%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize.first %>.
              </p>
              <p class="text-primary ms-auto">
                <%= review.rating %>/5
              </p>
            </div>
            <p class="review-description"><%= review.description %></p>
            <small><%= review.created_at.strftime('%d %b %Y') %></small>
          </div>
        <% end %>

        <%= tag.div "", id: "more_reviews_exist", data: { more: @more_reviews_exist } %>
      </div>

      <div class="d-flex mx-auto mt-5">
        <div data-action="click->load-more-school-review#loadMoreSchoolReview" class="btn-load-more">
          <%= link_to 'Load More', '#', class: 'link link-underline'%>
        </div>
      </div>
    </div>
  </div>
</div>
