<h1><%= @school.name %></h1>

<div class="school-details">
  <p><strong>Adresse :</strong> <%= @school.address %></p>
  <p><strong>Téléphone :</strong> <%= @school.phone %></p>
  <p><strong>Site web :</strong> <%= link_to @school.website, @school.website, target: "_blank" %></p>
  <p><strong>Email :</strong> <%= mail_to @school.email %></p>
</div>

<h2>Reviews</h2>

<% @review_schools.each do |review| %>
  <p><%= review.rating %>
  <br><%= review.description %></p>
<% end %>

<%= link_to "Add a review", new_school_review_school_path(@school) %>
