<!DOCTYPE html>
<html>
  <head>
    <title>KiteInMoris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="categories-filter" class="<%= 'devise-layout' if devise_controller? %>">
      <% if spots_show_page? || shops_show_page? || schools_show_page? %>
        <%= render "shared/navbar_back" %>
      <% elsif blogs_show_page? %>
        <%= render "shared/navbar_blog_back" %>
      <% else %>
        <%= render "shared/navbar" %>
      <% end %>

      <%= render "shared/flashes" %>
        <%= yield %>
      </div>

      <%= render "shared/footer" unless devise_controller? %>
    </div>

  </body>
</html>
