<!DOCTYPE html>
<html>
  <head>
    <title>KiteInMoris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flaticon-uicons/your-version/flaticon-uicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.min.css">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="<%= 'devise-layout' if devise_controller? %>">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div style="padding-top: 80px;">
        <%= yield %>
      </div>
      <%# render "shared/footer" %>
    </div>


  </body>
</html>
