<!DOCTYPE html>
<html>
  <head>
    <title>KiteInMoris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="<%= 'devise-layout' if devise_controller? %>">
      <%# render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%# render "shared/footer" %>
    </div>


  </body>
</html>
